<h1> scores/_form </h1>

<%= form_with model: @course, id: "score-form", local: false do |c| %>
	<%= c.fields_for :scores do |s| %>
		<%= s.label :hole_number, "Hole #{s.index + 1}" %>
		<%= s.hidden_field :hole_number, value: s.index + 1 %>
		<%= s.text_field :hole_score %><br>
	<% end %>
	<%= c.submit %>
<% end %>