<!-- app/view/scores/new.html.erb -->
<h1> scores/new.html/erb </h1>

<%= form_with model: @course, url: initialize_score_details_path do |c| %>
	<%= c.label :course %>
	<%= c.select :course_id, @courses.collect { |course| [course.course_name, course.id] } %>
	<%= c.submit %>
<% end %>


<div id="details-wrapper">
	<% if @course_details %>
		<%= render "form" %>
	<% end %>
</div>


<%= link_to "Scores Home", scores_path %>