<h1> Test Result Header </h1>

<%= form_with model: @course, id: "course-form", local: false do |c| %>
	<%= c.hidden_field :course_name, value: @course.course_name %>
	<%= c.hidden_field :holes, value: @course.holes %>
	<%= c.hidden_field :par, value: @course.par %>
	<%= c.fields_for :course_details do |cd| %>
		<%= cd.label :hole_number, "Hole #{cd.index + 1}" %>
		<%= cd.hidden_field :hole_number, value: cd.index + 1 %>
		<%= cd.text_field :hole_par %><br>
	<% end %>
	<%= c.submit %>
<% end %>