<h1> Registered Courses </h1>

<%= render "monitor" %>

<table>
	<tr>
		<th>Name</th>
		<th>#Holes</th>
		<th>Par</th>
		<th>Action</th>
	</tr>
	<% @courses.each do |course| %>
		<tr>
			<td><%= course.course_name %></td>
			<td><%= course.holes %></td>
			<td><%= course.par %></td>
			<td><%= link_to "Course Details", course_course_details_path(course) %></td>
			<td><%= link_to "Delete", course_path(course),
					method: :delete,
					data: { confirm: "Are you sure?" } %></td>
		</tr>
	<% end %>

</table>

<%= link_to 'create_course', new_course_path %><br>
<%= link_to "Home", root_path %>